acinclude.m4
aclocal.m4
autom4te.cache/*
config.log
config.status
config.guess
config.h
config.h.in
config.nice
config.sub
configure.ac
install-sh
ltmain.sh
Makefile.fragments
Makefile.global
missing
mkinstalldirs
run-tests.php
configure
libtool
Makefile
Makefile.objects
